<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/PostStyle.css">
    <link rel="stylesheet" th:href="@{./css/PostStyle.css}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<article>

    <div class="container" role="main">
        <h2>작성된 게시물</h2>
        <form class="form-group" th:method="post" th:action th:object="${board}">
            <div class="mb-3">
                <label for="title">제목</label>
                <textarea type="text" class="form-control" name="title" id="title" readonly="readonly" th:text="*{title}"></textarea>
            </div>
            <hr>
            <div class="mb-3">
                <label for="title">작성자</label>
                <textarea type="text" class="form-control" name="writer" id="writer" readonly="readonly" th:text="*{writer}"></textarea>
            </div>
            <hr>
            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control" rows="10" name="content" id="content" readonly="readonly" th:text="*{content}"></textarea>
            </div>
            <div >
                <img th:each="imageFile : ${board.imageFiles}"
                     th:if="${imageFile.attachmentType == T(janghankyu.univforum.domain.file.AttachmentType).IMAGE}"
                     th:src="@{/main/board/images/{imageFile}(imageFile=${imageFile.storeFilename})}" width="300" height="300" style="margin-right: 5px"/>
            </div>
            <div>
                <a th:each="generalFile : ${board.generalFiles}"
                   th:if="${generalFile.attachmentType == T(janghankyu.univforum.domain.file.AttachmentType).GENERAL}"
                   th:href="@{/main/board/attaches/{generalFile}(generalFile=${generalFile.storeFilename}, originName=${generalFile.originFilename})}"
                   th:text="${generalFile.originFilename}" style="margin-right: 5px"/><br/>
            </div>
        </form>
        <hr>
        <div th:class="like_section">

        </div>
        <hr>
        <div class="mb-3">
            <section>
                <div th:class="|reply_list${board.id}|">

                </div>

                <div class="mb-3" style="display: flex;">
                    <input type="text" class="form-control" name="cContent" id="cContent" placeholder="댓글을 입력해 주세요">
                    <button type="button" th:onclick="commentPost()" class="btn btn-default btn-lg btn3d right" id="cBtn">댓글작성</button>
                </div>
            </section>
        </div>
        <hr>
        <div >
            <button type="btn" th:onclick="|location.href='@{/main/board}'|" class="btn btn-default btn-lg btn3d right btnList">목록</button>
            <button type="btn" th:if="${board.writer == student.nickname}" th:onclick="|location.href='@{/main/board/{boardId}/update(boardId=${board.id})}'|" class="btn btn-default btn-lg btn3d right btnList">수정</button>
            <button type="btn" th:if="${board.writer == student.nickname}" th:onclick="|location.href='@{/main/board/{boardId}/delete(boardId=${board.id})}'|" class="btn btn-default btn-lg btn3d right btnList">삭제</button>
        </div>

    </div>
</article>
</body>
<script th:inline="javascript">
    var boardId = [[${board.id}]];
    var commentUrl = boardId+"/comment";
    var postLikeUrl = boardId+"/postLike";
    $(function(){
        commentLoad([[${board.id}]])
        postLikeLoad([[${board.id}]])
    });

    const postLikeLoad = function(no) {
        $.ajax({
            url : postLikeUrl,
            type : 'get',
            success : function (data) {
                console.log("좋아요 Load" + postLikeUrl);

                let html = "";
                let postLikeNum = data.postLikeNum;
                let checkLiked = data.checkLiked;

                html += "<div align='center'>";
                html += "<b>" + postLikeNum + "</b>";
                if (checkLiked) {
                    html += "<a class='heart' onclick='pushLikeButton(" + boardId + ")'><i class=\"fas fa-heart\" style='margin-right: 10px'></i></a>"
                } else {
                    html += "<a class='heart' onclick='pushLikeButton(" + boardId + ")'><i class=\"far fa-heart\"></i></a>";
                }
                html += "</div>";
                $(".like_section").html(html);
            },
            error:function () {
                alert('좋아요 로드 에러');
            }
        });
    }

    const pushLikeButton = function(no) {
        $.ajax({
            url : postLikeUrl,
            type : 'post',
            success : function () {
                console.log("좋아요 버튼 성공");
                postLikeLoad(boardId);
            },
            error:function () {
                alert('좋아요 버튼 에러');
            }
        });
    }

    const commentLoad = function(no) {
        $.ajax({
            url : commentUrl,
            type : 'get',
            success : function (data) {
                console.log("댓글 Load");

                let html = "";
                for (const i in data) {
                    let cId = data[i].id;
                    let cNickname = data[i].writer;
                    let cContent = data[i].content;
                    let cChildren = data[i].children.reverse();
                    let cwriteTime = data[i].writeTime;

                    html += "<div id='cm" + cId + "' style='border: 1px solid black; margin-bottom: 5px'>";
                    html += "<div>";
                    html += "<b>" + "작성자 : " + cNickname + "</b>";
                    html += "</div>";
                    html += "<div>";
                    html += "내용 : " + cContent;
                    html += "</div>";
                    html += "<div>";
                    html += "작성 시간 : " + cwriteTime;
                    html += "</div>";
                    html += "<div>";
                    if (cContent != "삭제된 댓글입니다.") {
                        html += "<a href='javacript:void(0);' onclick='commentReply(" + cId + ")'>답글 달기</a>";
                        if (cNickname == [[ ${student.nickname }]]) {
                            html += "<div>";
                            html += "<a href='javacript:void(0);' onclick='commentDelete(" + cId + ")'>댓글 삭제</a>";
                            html += "</div>";
                            html += "<div>";
                            html += "<a href='javacript:void(0);' onclick='commentEdit(" + cId + ", \"" + cNickname + "\", \"" + cContent + "\")'>댓글 수정</a>";
                            html += "</div>";
                        }
                    }
                    html += "</div>";
                    while (cChildren.length != 0) {
                        let child = cChildren.pop();
                        html += "<div class='reply-block'>";
                        html += "<div>";
                        html += "<i class='fas fa-reply fa-5x'></i>";
                        html += "</div>";
                        html += "<div id='cm" + child.id + "' class='rereply' style='border: 1px solid black; margin-bottom: 5px'>";
                        html += "<div>";
                        html += "<b>" + "작성자 : " + child.writer + "</b>";
                        html += "</div>";
                        html += "<div>";
                        html += "내용 : " + child.content;
                        html += "</div>";
                        html += "<div>";
                        html += "작성 시간 : " + child.writeTime;
                        html += "</div>";
                        html += "<div>";

                        if (child.content != "삭제된 댓글입니다.") {
                            if (child.writer == [[ ${student.nickname }]]) {
                                html += "<div>";
                                html += "<a href='javacript:void(0);' onclick='commentDelete(" + child.id + ")'>댓글 삭제</a>";
                                html += "</div>";
                                html += "<div>";
                                html += "<a href='javacript:void(0);' onclick='commentEdit(" + child.id + ", \"" + child.writer + "\", \"" + child.content + "\")'>댓글 수정</a>";
                                html += "</div>";
                            }
                        }
                        html += "</div>";
                        html += "</div>";
                        html += "</div>";
                    }
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";

                };
                $(".reply_list"+no).html(html);
            },
            error:function () {
                alert('댓글 로드 에러');
            }
        });
    };

    const commentPost = function() {
        let content = document.getElementById("cContent");

        $.ajax({
            url : commentUrl,
            type : 'post',
            contentType: "application/json",
            data: JSON.stringify({
                "content" : content.value
            }),
            success : function () {
                console.log("댓글 저장 성공");
                commentLoad(boardId);
                content.value = "";
            },
            error:function () {
                alert('댓글 저장 에러');
            }
        });
    }

    const commentDelete = function(commentId) {

        $.ajax({
            url : commentUrl,
            type : 'delete',
            contentType: "application/json",
            data: JSON.stringify({
                "commentId" : commentId
            }),
            success : function () {
                console.log("댓글 삭제 성공");
                commentLoad(boardId);
            },
            error:function () {
                alert('댓글 삭제 에러');
            }
        });
    }

    const commentEdit = function(commentId, commentWriter, commentContent) {

        console.log("댓글 수정");

        let html = "";

        html += "<div id='cm"+ commentId + "' style='border: 1px solid black; margin-bottom: 5px'>";
        html += "<div>";
        html += "<b>" + "작성자 :" + commentWriter + "</b>";
        html += "</div>";
        html += "<div>";
        html += "<textarea class='form-group' id = 'editComment"+commentId+"'>";
        html += commentContent;
        html += "</textarea >";
        html += "</div>";
        html += "<div>";

        html += "<div>";
        html += "<a href='javacript:void(0);' onclick='commentUpdate(" + commentId + ")'>저장</a>";
        html += "</div>";
        html += "<div>";
        html += "<a href='javacript:void(0);' onclick='commentLoad(boardId)'>취소</a>";
        html += "</div>";

        html += "</div>";

        $("#cm"+commentId).replaceWith(html);
    }

    const commentUpdate = function(commentId) {

        console.log("댓글 Load");

        let commentContent = document.getElementById("editComment"+commentId).value;

        $.ajax({
            url : commentUrl,
            type : 'patch',
            contentType: "application/json",
            data: JSON.stringify({
                "commentId" : commentId,
                "content" : commentContent
            }),
            success : function () {
                console.log("댓글 수정 성공");
                commentLoad(boardId);
            },
            error:function () {
                alert('댓글삭제 에러');
            }
        });
    }

    const commentReply = function(commentId) {
        let html = "";

        html += "&nbsp";
        html += "<div class='mb-3' style='display: flex;'>";
        html += "<input type='text' class='form-control' id='reply"+ commentId + "' placeholder='댓글을 입력해 주세요'>";
        html += "<button type='button' onclick='replyPost(" + commentId + ")' class='btn btn-default btn-lg btn3d right' id='cBtn'>답글작성</button>";
        html += "</div>";

        $("#cm"+commentId).after(html);
    }

    const replyPost = function(commentId) {
        let commentContent = document.getElementById("reply"+ commentId).value;

        $.ajax({
            url : commentUrl,
            type : 'post',
            contentType: "application/json",
            data: JSON.stringify({
                "parentId" : commentId,
                "content" : commentContent
            }),
            success : function () {
                console.log("답글 저장 성공");
                commentLoad(boardId);
            },
            error:function () {
                alert('답글 저장 에러');
            }
        });
    }
</script>
</html>